<nav class="sheet-tabs tabs side" data-group="primary">
        <a class="item {{tabs.resistance.cssClass}}" data-action="tab" data-group="primary" data-tab="resistance">{{ localize 'DEE.tabs.resistance'}}</a>
        <a class="item {{tabs.abilities.cssClass}}" data-action="tab" data-group="primary" data-tab="abilities">{{ localize 'DEE.tabs.abilities'}}</a>
        <a class="item {{tabs.resolution.cssClass}}" data-action="tab" data-group="primary" data-tab="resolution">{{ localize 'DEE.tabs.resolution'}}</a>
    </nav>       
</nav>